
{% if region == 'section' %}
  <div{{ attributes }}>
    {{ title_prefix }}
    {% if label %}
       {{ label }}
    {% endif %}
    {{ title_suffix }}
    {% if content %}
      {{ content }}
    {% endif %}
  </div>
{% elseif region == 'blog_sidebar' %}
  <div{{ attributes }}>
    {{ title_prefix }}
    {% if label %}
      <div class="sidebar-title"><h3>{{ label }}</h3></div>
    {% endif %}
    {{ title_suffix }}
    {% if content %}
      {{ content }}
    {% endif %}
  </div>
{% else %}
  <div{{ attributes }}>
    {{ title_prefix }}
    {% if label %}
      <h3{{ title_attributes }}>{{ label }}</h3>
    {% endif %}
    {{ title_suffix }}
    {% if content %}
      {{ content }}
    {% endif %}
  </div>
{% endif %}