<div{{ attributes }}>
	<div class="low-back-up">
    	<div class="container">
		{{ title_prefix }}
	    {% if label %}
	        {{ label }}
	    {% endif %}
	    {{ title_suffix }}
	    	<div class="col-lg-6">
	    		{{ content.body }}
	    	</div>
	    	<div id="contact-inner" class="text-center low-back-footer-w">
		        <div class="low-back-up">
		          	<div class="col-md-5 col-sm-offset-1  c-2">
		            	
		            	{{ content.field_contact_form }}
		        	</div>
		    	</div>
			</div>
		</div>
	</div>
</div>
