<div class="single-comment-box">
    <div class="comment wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
        <div class="author-thumb">
        {% if user_picture %}
          {{ user_picture }}
         {% endif %}
        </div>
        <div class="comment-info"> <strong>{{ author }}</strong>
          <div class="comment-time">{{ comment.created.value|date('F d, Y \\a\\t g:i a')|t  }}</div>
        </div>
        <p>{{ content.comment_body }}</p>
        {{ content.links }}
    </div>
</div>


