<footer>
  
  <div class="main_footer">

    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 footer_logo"> 
          {{ page.footer }}
          
        </div>
        <!-- End of .footer_logo -->
        {{ page.bottom_footer }}
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 quick_links">
        
          {{ page.footer_menu }}
        </div>
        <!-- End of .quick_links --> 
        <!-- End of .latest_twieets -->
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 subscribe_now">
          
          {{ page.footer_simplenews }}
        </div>
        <!-- End of .subscribe_now --> 
      </div>
      <!-- End of .row --> 
    </div>
    <!-- End of .container --> 
  </div>
  <!-- End of .main_footer -->
  {{ page.last_footer }}
  <!-- End of .bottom_footer --> 
</footer>

<!-- End Footer --> 

<!-- Back to Top --> 
<a href="#" id="back-to-top" title="Back to top"><i class="fa fa-chevron-up" ></i></a> 
